


{% block title %}Add Room{% endblock %}

{% block content %}
<h1>新規ルームの作成</h1>
{% endblock %}
<h2>新規ルームの作成</h2>

<form action="/room/add" method="POST">

  <div>
    <p>ROOMの名前</p>
    <!-- エラー内容を表示する -->
    {% if "room_name" in error_messages %}
    {% for message in error_messages.get("room_name") %}
    <p class="error">{{message}}</p>
    {% endfor %}
    {% endif %}
    <p><input type="text" name="room_name" placeholder="Room name" value="{{form.get('room_name', '') }}"/></p>
  </div>


  <div>
    <p>ROOMの概要説明</p>
    <!-- エラー内容を表示する -->
    {% if " description" in error_messages %}
    {% for message in error_messages.get("description") %}
    <p class="error">{{message}}</p>
    {% endfor %}
    {% endif %}
    <p><textarea name="description">{{form.get("description", "")}}</textarea></p>
  </div>


  <p><input type="submit" name="submit" value="Add Room"></p>
</form>
