<script src="https://code.jquery.com/jquery-3.7.1.min.js" integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>
<script>

  $(function () {
    const eventSource = new EventSource("/sse/messages/{{room.id}}");
    eventSource.addEventListener("open", function (event) {
      console.log(event)
      console.log("接続しました")
    });
    eventSource.addEventListener("error", function (event) {
      console.log(event)
      console.log("エラーが発生しました")
    });
    eventSource.addEventListener("new-message", function (event) {
      console.log(event.data)
      let jsonData = JSON.parse(event.data)
      console.log(jsonData.message)
      let prependData = `
        <div class="message-block">
          <p>ID: ${jsonData.id}</p>
          <p>メッセージ: ${jsonData.message}</p>
          <p>発言者: ${jsonData.user.username}</p>
          <p>発言者ID: ${jsonData.user.id}</p>
          <p>発言者email: ${jsonData.user.email}</p>
        </div>
        `
      $(prependData).prependTo("#message-wrapper")
    });
    eventSource.onmessage = function (event) {
      console.log(event.data)
      let jsonData = JSON.parse(event.data)
      console.log(jsonData.message)
      let prependData = `
        <div class="message-block">
          <p>ID: ${jsonData.id}</p>
          <p>メッセージ: ${jsonData.message}</p>
          <p>発言者: ${jsonData.username}</p>
        </div>
        `
      $(prependData).prependTo("#message-wrapper")
    }


    $("#send-message").on("click", function () {
      $.post("/api/message/{{room.id}}/create", {
        room_id: "{{room.id}}",
        user_id: "{{user.id}}",
        message: $("#message").val()
      });
    })

  });

</script>

<!-- <form action="/room/{{room.id}}/message/create/" method="post"> -->
<input type="hidden" name="user_id" value="{{user.id}}">
<p>メッセージ</p>
<input type="text" id="message" name="message">
<input type="button" id="send-message" value="投稿">

<!-- </form> -->


<h2>Room: {{room.room_name}}に投稿したメッセージ一覧</h2>
<a target="_blank" href="/sse/messages/{{room.id}}">SSEでメッセージを取得する</a>
{% for message in messages %}
<div id="message-wrapper">
  <div class="message-block">
    <p>ID: {{message.id}}</p>
    <p>メッセージ: {{message.message}}</p>
    <p>発言者: {{message.user.username}}</p>
  </div>
</div>

{% endfor %}
