<script src="https://code.jquery.com/jquery-3.7.1.min.js" integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>
<script src="https://unpkg.com/axios@1.1.2/dist/axios.min.js"></script>
<script>

  $(function () {
    const eventSource = new EventSource("/sse/messages/{{room.id}}");
    eventSource.addEventListener("open", function (event) {
      console.log(event)
      console.log("接続しました")
    });
    eventSource.addEventListener("error", function (event) {
      console.log(event)
      console.log("エラーが発生しました")
    });
    eventSource.addEventListener("new-message", function (event) {
      console.log(event.data)
      let jsonData = JSON.parse(event.data)
      console.log(jsonData.message)
      let prependData = `
        <div class="message-block">
          <p>ID: ${jsonData.id}</p>
          <p>メッセージ: ${jsonData.message}</p>
          <p>発言者: ${jsonData.user.username}</p>
          <p>発言者ID: ${jsonData.user.id}</p>
          <p>発言者email: ${jsonData.user.email}</p>
        </div>
        `
      $(prependData).prependTo("#message-wrapper")
    });


    $("#send-message").on("click", function () {
      let roomId = $("#room_id").val()
      let userId = $("#user_id").val()
      let message = $("#message").val()
      axios.post("/api/message/{{room.id}}/create", {
        room_id: roomId,
        user_id: userId,
        message: message,
      }).then(function (data) {
        console.log(data)
      }).catch(function (error) {
        console.log(error)
      })
    })

    $(".button-to-like").each(function (index) {
      // いいね対象のメッセージIDを取得
      let messageId = $(".message_id").eq(index).val()
      console.log(messageId);
      let userId = $(".user_id").eq(index).val()
      console.log(userId);
      $(".button-to-like").eq(index).on("click", function () {
        axios.post("/api/message/" + messageId + "/like", {
          message_id: messageId,
          user_id: userId,
        }).then(function (data) {
          console.log(data)
        }).catch(function (error) {
          console.log(error)
        })
      });
    });

  });

</script>

<!-- <form action="/room/{{room.id}}/message/create/" method="post"> -->
<input type="hidden" name="user_id" value="{{user.id}}">
<p>メッセージ</p>
<input type="text" id="message" name="message">
<input type="button" id="send-message" value="投稿">

<!-- </form> -->


<h2>Room: {{room.room_name}}に投稿したメッセージ一覧</h2>
<a target="_blank" href="/sse/messages/{{room.id}}">SSEでメッセージを取得する</a>

<!-- room_id -->
<input type="hidden" id="room_id" name="room_id" value="{{room.id}}">
<!-- user_id -->
<input type="hidden" id="user_id" name="user_id" value="{{user.id}}">
{% for message in messages %}
<div id="message-wrapper">
  <div class="message-block">
    <p>ID: {{message.id}}</p>
    <p>メッセージ: {{message.message}}</p>
    <p>発言者: {{message.user.username}}</p>
    <p>いいね数: {{ message.message_likes | length }}</p>
    <!-- 当該メッセージにいいねをする -->
    <form action="/message/{{message.id}}/like" method="post">
      <input type="hidden" class="user_id" name="user_id" value="{{user.id}}">
      <input type="hidden" class="message_id" name="message_id" value="{{message.id}}">
    </form>
    <p>このコメントにいいね!</p>
    <input type="button" class="button-to-like" name="button-to-like" value="いいね!">
  </div>
</div>

{% endfor %}
