<form action="/dashboard/password/update" method="post" id="form-to-update-password">

  <input type="hidden" name="user_id" value="{{user.id}}">
  <p>現在のパスワード</p>
  {% for error in errors["current_password"] %}
    <p style="color: red;" class="error">{{error}}</p>
  {% endfor %}
  <p>
    <label for="current_password"></label>
    <input type="password" name="current_password" id="current_password" placeholder="current_password" required>
  </p>
  <p>新規パスワード </p>
  {% for error in errors["new_password"] %}
    <p style="color: red;" class="error">{{error}}</p>
  {% endfor %}
  <p>
    <label for="new_password"></label>
    <input type="password" name="new_password" id="new_password" placeholder="new_password" required>
  </p>
  <p>新規パスワード 確認用</p>
  {% for error in errors["new_password_confirm"] %}
    <p style="color: red;" class="error">{{error}}</p>
  {% endfor %}
  <p>
    <label for="new_password_confirm"></label>
    <input type="password" name="new_password_confirm" id="new_password_confirm" placeholder="new_password_confirm" required>
  </p>

  <input type="submit" value="パスワードを変更する">
</form>
